<app-nav-bar></app-nav-bar>
<div class="background-lightgrey p-3">
  <div class="container bg-white p-3">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4">{{blog.name}}</h1>
        <p class="lead"><i class="fas fa-pencil-alt"></i> by <span class="text-primary" (click)="goToUserProfile(blog.user.id)">{{blog.user.fullName}}</span></p>
        <button class="btn btn-success mr-2" (click)="goToUpdateBlog(blog.id)" *ngIf="checkUser">Update Blog</button>
        <button class="btn btn-success" (click)="deleteBlog(blog.id)" *ngIf="checkUser||checkModerator">Delete Blog</button>
        <hr>
        <p><i class="far fa-clock"></i> Posted on {{getProperDate(blog.date)}}</p>
        <hr>
        <img class="card-img-top" src={{blog.img}} alt="blog image">
        <hr>
        <p class="lead">{{blog.description}}</p>
        <blockquote class="blockquote border-top-0 border-right-0 border-bottom-0 set-border-width p-2">
          <p class="mb-0">A recipe has no soul. You, as the cook, must bring soul to the recipe</p>
          <footer class="blockquote-footer">THOMAS KELLER in
            <cite title="Source Title">THE ELLEN SHOW</cite>
          </footer>
        </blockquote>
        <p>{{blog.content}}</p>
        <hr>
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3" name="comment" [(ngModel)]="content"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" (click)="addcomment()">Submit</button>
            </form>
          </div>
        </div>
        <div *ngFor="let c of comments">
          <div class="media border p-3">
            <i class="mr-3 mt-3 fas fa-user-circle user-icon-size"></i>
            <div class="media-body">
              <h4>{{c.user.fullName}} <small><i>Posted on {{getProperDate(c.date)}}</i></small></h4>
              <p>{{c.content}}</p>
              <button (click)="deletecomment(c.id)" *ngIf="checkComment(c)||checkModerator" class="btn btn-danger mr-2">Delete</button>
              <div *ngIf="checkliked(c);then thenBlock;else elseBlock"></div>
              <ng-template #thenBlock>
                <button class="btn btn-success" (click)="clicklike(c.id)">Like</button>
              </ng-template>
              <ng-template #elseBlock>
                <button class="btn btn-success" (click)="clickdislike(c.id)">Dislike</button>
              </ng-template>
              <p class="text-secondary lead">{{currentstate}}</p>
            </div>
          </div>
        </div>
  </div>
      <div class="col-md-4">
        <div class="card my-4">
          <h5 class="card-header">Tip Of The Day</h5>
          <div class="card-body">
             People who love to eat are always the best people!
          </div>
        </div>
        <div class="card card-body text-center my-4">
          <h2>About Author</h2>
          <p>My posts represent a complex interweaving of foodie or gourmet interest in cooking with those of blog writing and photography.</p>
          <button class="btn btn-primary" (click)="goToUserProfile(blog.user.id)">View Profile (To Subscribe)</button>
        </div>
        <div class="card card-body my-4 bg-light">
          <h2>Share love with food</h2>
          <ul class="list-group list-group-horizontal list-group-flush">
            <li class="list-group-item border-0 bg-light"><i class="fas fa-heart text-danger"></i></li>
            <li class="list-group-item border-0 bg-light"><i class="fas fa-heart text-danger"></i></li>
            <li class="list-group-item border-0 bg-light"><i class="fas fa-heart text-danger"></i></li>
            <li class="list-group-item border-0 bg-light"><i class="fas fa-heart text-danger"></i></li>
          </ul>
        </div>
      </div>
</div>
  </div>
</div>
