.item1
{
background-image:url("../../assets/apricot-background-berry-1028599.jpg");
background-size:cover;
}
.item2
{
background-image:url("../../assets/antioxidant-beverage-blended-1328887.jpg");
background-size:cover;
}
.item3
{
background-image:url("../../assets/blurred-background-bowl-cuisine-842545.jpg");
background-size:cover;
}
.dim1
{
height:400px;
width:900px;
}
.dim
{
height:195px;
}
.blog-dim
{
width:550px;
height:250px;
//border:0px solid black;
}
.trends-opacity
{
background-color:black;
opacity:0.5;
}
