<div class="container">
  <div class="d-flex justify-content-between p-4">
    <h3 class="font-great-vibes"><span style="color:deeppink">#</span>FoodLove</h3>
    <h3 class="font-allura">It's good mood food !</h3>
  </div>
</div>
<div class="background-lightgrey">
  <div class="container">
    <nav class="navbar navbar-expand-sm background-black text-white">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="goToHome()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToMyProfile()">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToCreateBlog()">Create Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToViewBlogs()">Global Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            Upload Date
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="getBlogByAnytime()">Anytime</a>
            <a class="dropdown-item" (click)="getBlogByLastHour()">Last Hour</a>
            <a class="dropdown-item" (click)="getBlogByToday()">Today</a>
            <a class="dropdown-item" (click)="getBlogByThisWeek()">This Week</a>
            <a class="dropdown-item" (click)="getBlogByThisMonth()">This Month</a>
            <a class="dropdown-item" (click)="getBlogByThisYear()">This Year</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>

      <!-- Links -->
      <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="searchbar" name="search">
        <button class="btn border border-white text-white" type="submit" (click)="getBlogBySearch()">Search</button>
      </form>
    </nav>
  </div>
</div>
<div class="background-lightgrey p-3">
  <div class="container d-flex ">
    <div class="item1 dim1 mr-2 p-3">
      <div class="text-white trends-opacity p-2">
        <span class="badge background-deeppink p-2">Food Trends</span>
        <h3>Step outside the apple box, peaches make the perfect addition to desserts.</h3>
        <div class="d-flex">
          <p class="mr-3"><i class="fas fa-user-edit"></i> Kris Negi</p>
          <p><i class="far fa-clock"></i> 12/7/2019</p>
        </div>
      </div>
    </div>
    <div>
      <div class="item2 mb-2 dim p-3">
        <div class="text-white trends-opacity p-2">
          <span class="badge background-deeppink p-2">Food Trends</span>
          <h3>Give your next meal a fresh spin with orange zest.</h3>
          <div class="d-flex">
            <p class="mr-3"><i class="fas fa-user-edit"></i> Kris Negi</p>
            <p><i class="far fa-clock"></i> 12/7/2019</p>
          </div>
        </div>
      </div>
      <div class="item3 dim p-3">
        <div class="text-white">
          <span class="badge background-deeppink p-2">Food Trends</span>
          <h3>Dinner is better when we eat together.</h3>
          <div class="d-flex">
            <p class="mr-3"><i class="fas fa-user-edit"></i> Kris Negi</p>
            <p><i class="far fa-clock"></i> 12/7/2019</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="background-lightgrey">
  <div class="container bg-white p-3">
    <div class="background-black text-white p-2">Global Feed</div>
    <div class="d-flex flex-wrap justify-content-between">
      <div *ngFor="let b of blogs">
        <ng-container *ngIf="checkBlogAccess(b)">
          <div class="d-flex mt-3 blog-dim border">
        <img src={{b.img}} width="280" height="240">
        <div class="pl-3 align-self-center">
          <h3>{{b.name}}</h3>
          <div class="d-flex">
            <p class="mr-3"><i class="fas fa-user-edit"></i> {{b.user.fullName}}</p>
            <p><i class="far fa-clock"></i> {{getProperDate(b.date)}}</p>
          </div>
          <p>{{b.description}}</p>
          <button (click)="goToBlogDetail(b.id)" class="btn border border-dark">Continue Reading</button>
        </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
