<h3 class="font-great-vibes text-center mt-2">Hey there !</h3>
<h3 class="font-great-vibes text-center mt-2">Welcome to... <span style="color:deeppink">#</span>Food Love</h3>
<div class="container d-flex justify-content-center pt-3">
  <div class="col-sm-4 p-3 align-self-center border rounded-lg">
  <h3 class="text-center">Login</h3>
  <form>
    <div class="form-group">
      <label for="usr">Email</label>
      <input type="text" class="form-control" id="usr" name="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="password">
    </div>
    <div class="d-flex mt-3">
      <div><input type="checkbox">Remember me</div>
      <p class="ml-auto text-primary" (click)="goToUp()">Create a new account</p>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-3" (click)="login()">Login</button>

  </form>
  </div>
</div>
