<app-nav-bar></app-nav-bar>
<div class="background-lightgrey p-3">
  <div class="container bg-white p-3">
<div class="container">
  <h2 class="text-center">My Profile</h2>
  <div class="row border">
  <div class="col-sm-4 p-3">
    <div class="d-flex flex-column align-items-center">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="./assets/blurred-background-bowl-cuisine-842545.jpg" alt="my image" style="width:100%">
      <div class="card-body text-center">
        <h4 class="card-title"><i>{{user.fullName}}</i></h4>
        <h4 class="text-secondary"><i>( @{{user.userName}} )</i></h4>
        <p class="card-text">Eat like you love yourself !</p>
      </div>
    </div>
      <div class="mt-3">
        <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#myModal">
          Followers
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
          Following
        </button>
      </div>
      <h3 class="font-great-vibes my-5"><span style="color:deeppink">#</span>StayHappy</h3>
    </div>
    <div class="modal" id="myModal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title">Followers</h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div *ngFor="let fer of follower" class="d-flex justify-content-between">
              <i class="fas fa-user-circle user-icon-size"></i>
              <h4 class="text-secondary"><i>{{fer.user.fullName}}</i></h4>
              <h4 class="text-secondary"><i>@{{fer.user.userName}}</i></h4>
              <h4><span class="badge badge-pill background-deeppink p-2 text-white">{{fer.user.role}}</span></h4>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    <div class="modal" id="myModal2">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title">Following</h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div *ngFor="let fing of following" class="d-flex justify-content-between">
              <i class="fas fa-user-circle user-icon-size"></i>
              <h4 class="text-secondary"><i>{{fing.subscribed.fullName}}</i></h4>
              <h4 class="text-secondary"><i>@{{fing.subscribed.userName}}</i></h4>
              <h4><span class="badge badge-pill background-deeppink p-2 text-white">{{fing.subscribed.role}}</span></h4>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-3">
    <form class="mb-3">
      <div class="d-flex justify-content-around">
      <div>
      <div class="form-group">
        <label for="nme">Full name</label>
        <input type="text" class="form-control" id="nme" name="fullname" [(ngModel)]="user.fullName">
      </div>
      <div class="form-group">
        <label for="usr">Username</label>
        <input type="text" class="form-control" id="usr" name="username" [(ngModel)]="user.userName">
      </div>
      <div class="form-group">
        <label for="id">User Id</label>
        <input type="text" class="form-control bg-white" id="id" name="userid" [(ngModel)]="user.id" readonly>
      </div>
      <div class="form-group">
        <label for="role">User Role</label>
        <input type="text" class="form-control" id="role" name="role" [(ngModel)]="user.role">
      </div>
      </div>
      <div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="user.password">
      </div>
        <button class="btn btn-success p-2" (click)="editUser()">Edit & Save</button>
      </div>
      </div>
    </form>
    <div class="background-black text-white p-2">My Blogs</div>
    <div class="d-flex flex-wrap justify-content-between">
      <div *ngFor="let b of blogs" class="d-flex mt-3 blog-dim border">
        <img src={{b.img}} width="280" height="240">
        <div class="pl-3 align-self-center">
          <h3>{{b.name}}</h3>
          <div class="d-flex">
            <p class="mr-3"><i class="fas fa-user-edit"></i> {{b.user.email}}</p>
            <p><i class="far fa-clock"></i> {{getProperDate(b.date)}}</p>
          </div>
          <p>{{b.description}}</p>
          <button (click)="goToBlogDetail(b.id)" class="btn border border-dark">Continue Reading</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  </div>
</div>
