<div class="container">
<div class="d-flex justify-content-between p-4">
  <h3 class="font-great-vibes"><span style="color:deeppink">#</span>Food Love</h3>
  <h3 class="font-allura">It's good mood food !</h3>
</div>
</div>
<div class="background-lightgrey">
<div class="container">
<nav class="navbar navbar-expand-sm background-black text-white">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="goToHome()">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToMyProfile()">My Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToCreateBlog()">Create Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToViewBlogs()">Global Blogs</a>
    </li>
  </ul>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
</div>
</div>
