<h3 class="font-great-vibes text-center mt-2">Hey there !</h3>
<h3 class="font-great-vibes text-center mt-2">Welcome to... <span style="color:deeppink">#</span>Food Love</h3>
<div class="container d-flex justify-content-center pt-3">
  <div class="col-sm-4 p-3 align-self-center border rounded-lg">
    <h3 class="text-center">Signup</h3>
    <form>
      <div class="form-group">
        <label for="nme">Full name</label>
        <input type="text" [(ngModel)]="user.fullName" class="form-control" id="nme" name="fullname">
      </div>
      <div class="form-group">
        <label for="usr">Username</label>
        <input type="text" [(ngModel)]="user.userName" class="form-control" id="usr" name="username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" [(ngModel)]="user.password" class="form-control" id="pwd" name="password">
      </div>
      <p class="text-primary" (click)="goToLog()">Already have an account. Click here.</p>
      <button type="submit" class="btn btn-primary btn-block" (click)="createUser()">Signup</button>
    </form>
  </div>
</div>
