<app-nav-bar></app-nav-bar>
<div class="background-lightgrey p-3">
  <div class="container bg-white p-3">
    <div class="container d-flex justify-content-center mt-2">
      <div class="col-sm-4 p-3 align-self-center border rounded-lg">
        <h3 class="text-center">Create New Blog</h3>
        <form>
          <div class="form-group">
            <label for="nme">Enter your blog name</label>
            <input type="text" class="form-control" id="nme" name="blogname" [(ngModel)]="name">
          </div>
          <div class="form-group">
            <label for="desc">Enter blog description</label>
            <input type="text" class="form-control" id="desc" name="blogdesc" [(ngModel)]="description">
          </div>
          <div class="form-group">
            <label for="content">Enter blog content</label>
            <textarea class="form-control" rows="5" id="content" [(ngModel)]="content" name="blogcontent"></textarea>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [(ngModel)]="access" name="cb"> Check for a private blog (visible only to you and your subscribers) or, keep it unchecked for a public blog
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="createBlog()">Create Blog</button>
        </form>
      </div>
    </div>

  </div>
</div>
