.underline
{
text-decoration:underline;
}
.background-lightgrey
{
background-color:lightgrey;
}
.background-deeppink
{
background-color:deeppink;
}
.background-black
{
background-color:black;
}
.font-great-vibes
{
font-family: 'Great Vibes', cursive;
font-size:44px;
}
.font-allura
{
font-family: 'Allura', cursive;
font-size:40px;
}
