<app-nav-bar></app-nav-bar>
<div class="background-lightgrey p-3">
  <div class="container bg-white p-3">
    <div class="d-flex flex-column align-items-center">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../../assets/blurred-background-bowl-cuisine-842545.jpg" alt="user image" style="width:100%">
      <div class="card-body text-center">
        <h2 class="card-title"><i>{{user.fullName}}</i></h2>
        <h4 class="text-secondary"><i>( @{{user.userName}} )</i></h4>
        <p class="card-text">My posts represent a complex interweaving of foodie or gourmet interest in cooking with those of blog writing and photography.</p>
        <div *ngIf="checksub;then thenBlock;else elseBlock"></div>
        <ng-template #thenBlock>
          <button class="btn border border-dark" (click)="clickSubscribe()">Subscribe</button>
        </ng-template>
        <ng-template #elseBlock>
          <button class="btn border border-dark" (click)="clickUnsubscribe()">Unsubscribe</button>
        </ng-template>
      </div>
    </div>
    <!-- Button to Open the Modal -->
    <div class="mt-3">
    <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#myModal">
      Followers
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
      Following
    </button>
    </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title">Followers</h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div *ngFor="let fer of follower" class="d-flex justify-content-between">
              <i class="fas fa-user-circle user-icon-size"></i>
              <h4 class="text-secondary"><i>{{fer.user.fullName}}</i></h4>
              <h4 class="text-secondary"><i>@{{fer.user.userName}}</i></h4>
              <h4><span class="badge badge-pill background-deeppink p-2 text-white">{{fer.user.role}}</span></h4>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    <div class="modal" id="myModal2">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title">Following</h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div *ngFor="let fing of following" class="d-flex justify-content-between">
              <i class="fas fa-user-circle user-icon-size"></i>
              <h4 class="text-secondary"><i>{{fing.subscribed.fullName}}</i></h4>
              <h4 class="text-secondary"><i>@{{fing.subscribed.userName}}</i></h4>
              <h4><span class="badge badge-pill background-deeppink p-2 text-white">{{fing.subscribed.role}}</span></h4>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
